.reveal h2{
    font-size: 45px;
}

section p{
    font-size: 26px;
    /*padding: 20px 20px 20px 20px; /*top-right-bottom-left*/
}
section ul{
    font-size: 30px;
}

section li{
    font-size: 26px
}

.circ-icon{
     width: 100px;
     height: 100px;
     border-radius: 50%;   
}

.image-general{
    width: 450px;
    height: auto;
    border-radius: 10%;
}

.image-large{
    width: 550px;
    height: auto;
    border-radius: 10%;
}

.image-smaller{
    width: 350px;
    height: auto;
    border-radius: 10%;
}

.image-mid{
    width: 280px;
    height: auto;
    border-radius: 10%;
}

.image-small{
    width: 200px;
    height: auto;
    border-radius: 10%;
}

.title-slide h1{
    font-size: 1.5em;
    color: #E0E0E0;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
}

.title-slide p{
    font-size: 0.9em;
    color: #C0C0C0;
    text-shadow:
        -2px -2px 1px #000,
         2px -2px 1px #000,
        -2px  2px 1px #000,
         2px  2px 1px #000;
}

.slide-1 i{
    font-size: 1.2em;
    margin: 0 0.5em;
    text-align: center; 
}

.slide-5 p{
    font-size: 23px;
}

.slide-5 p {
    margin-top: 0 !important;
    margin-bottom: 10px !important; /* Tiny gap for legibility */
    line-height: 1.1 !important;
}


.slide-5-4 p{
    font-size: 23px;
}

.flow {
    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical alignment of children */
    gap: 0.8em;                 /* spacing between elements */
}

.equation{
    position: center;
    top: 20%;
    left: 10%;
    color: black;
    background: rgba(255,255,255,0.85);
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
}


.box-red{
    border-radius: 5%;
    background-color: #cc0000;
    border: 4px solid #7d0404;
    font-size: 26px;
    text-shadow:
            -1px -1px 0px #000,
             1px -1px 0px #000,
            -1px  1px 0px #000,
             1px  1px 0px #000;
}

.box-green{
    border-radius: 5%;
    background-color: #00cc0b;
    border: 4px solid #02980a;
    font-size: 26px;
    text-shadow:
            -1px -1px 0px #000,
             1px -1px 0px #000,
            -1px  1px 0px #000,
             1px  1px 0px #000;
}

#stars-obs{
    width: 150px;
    height: auto;
}

#geocentric-model{
    width: 150px;
    height: auto;
    border-radius: 30%; 
}

#retro-motion{
    width: 150px;
    height: auto;
    border-radius: 30%;
}

#thinking-person{
    width: 120px;
    height: auto;
    border=radius: 30%;
}

#neg-res{
    color: red;
}

.red-c{
    color: red;
    text-shadow:
                -1px -1px 0 #000,
                 1px -1px 0 #000,
                -1px  1px 0 #000,
                 1px  1px 0 #000;  
}

.green-c{
    color: #0EED49;
    text-shadow:
                -1px -1px 0 #134304,
                 1px -1px 0 #134304,
                -1px  1px 0 #134304,
                 1px  1px 0 #134304;
}

#imp-q-v1{
    font-size: 28px;
    color: #08F;
    text-shadow:
            -1px -1px 0 #000,
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
    }

#imp-q-v2{
    font-size: 38px;
}

#ptolemy-mod{
    width: 270px;
    height: auto;
    border-radius: 30%;
}

#heliocentric-model{
    width: 270px;
    height: auto;
    border-radius: 30%;
    border: 1px solid #ddd;
}

#world-line{
    width: 300px;
    height: auto;
    border-radius: 30%;
    border: 1px solid #ddd;
}

.white-back{
    background: white;
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
}

#slide-4{
    gap: 1.5em;
}
